{{template "base.tpl"}}

<style>
    /* Set gray background color and 100% height */
    .sidenav {
      background-color: #f1f1f1;
      height: 100%;
    }
        
    /* On small screens, set height to 'auto' for the grid */
    @media screen and (max-width: 767px) {
      .row.content {height: auto;} 
    }

    html, body
    {
        height: 100%;
    }

    .container-fluid
    {
        height: 100%;
        /* overflow-y: hidden; */
    }   
  </style>

<!-- Top navbar for xs viewports -->
<nav class="navbar navbar-inverse visible-xs">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">   
                <!-- navbar 3 horizontal lines -->
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Raven</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">

                <!-- Templatize these strings by passing in an object of teams --> 
                <li><a href="#">Team 1</a></li>
                <li><a href="#">Team 2</a></li>
                <li><a href="#">Team 3</a></li>
                <li><a href="#">Team 4</a></li>
            </ul>
        </div>
    </div>
</nav>


<!-- Side navbar for non-xs viewports -->
<div class="container-fluid">
        <div class="col-sm-3 sidenav hidden-xs">
            <h2>Raven</h2>
            <ul class="nav nav-pills nav-stacked">
                <li class="active"><a href="#section1">Team 1</a></li>
                <li><a href="#section2">Team 2</a></li>
                <li><a href="#section3">Team 3</a></li>
                <li><a href="#section4">Team 4</a></li>
            </ul>
            <br>
        </div>

        <br>

            <div class="col-sm-9">
                <div class="well">
                    <h4>Network 1</h4>
                    <p>Network Address: 192.168.1.0</p>
                    <p>Hosts: 16</p>
                </div>
            </div>
            <div class="col-sm-9">
                <div class="well">
                    <h4>Network 2</h4>
                    <p>Network Address: 192.168.2.0</p>
                    <p>Hosts: 10</p>
                </div>
            </div>
            <div class="col-sm-9">
                <div class="well">
                    <h4>Network 3</h4>
                    <p>Network Address: 192.168.3.0</p>
                    <p>Hosts: 9</p>
                </div>
            </div>
            <div class="col-sm-9">
                <div class="well">
                    <h4>Network 4</h4>
                    <p>Network Address: 192.168.4.0</p>
                    <p>Hosts: 8</p>
                </div>
            </div>

        <br>
</div>
</body>
</html>
