<!-- <div class="col-12 col-sm-6 col-md-8 col-lg-9 col-xl-9 p-0 cs-bg-black"> -->
    <div class="p-0 cs-bg-black m-3 mx-4">
        <div class="container">
            <h3 class="col-12 cs-text-white fw-bold mb-4 w-100">Loot</h3> 
            {{range .loot_items}}
            <div class="flex-row container w-100 p-0">
                <div class="col-sm-9">
                    <div class="col-12 cs-text-white p-3 cs-bg-gray">
                        <h4>{{.Name}}</h4>
                        <p>Id: {{.Id}}</p>
                        <p>Uploader: {{.Uploader}}</p>
                        <p>Tag: {{.Tag}}</p>
                        <p>System: {{.System.Ip}}</p>
                        <p>Timestamp: {{.UploadedAt | formatTime}}</p>
                        <a href="/loot/{{.Id}}">
                            <button>Download {{.Name}}</button>
                        </a>
                        <br><br>
                        <a href="/loot/delete?loot_id={{.Id}}">
                            <button>Delete</button>
                        </a>
                    </div>
                </div>
            </div>
            {{end}}
        </div>
    </div>
</div>
<!-- </div> -->
