{{template "base.tpl"}}

<h3>Add Network</h3>

<form method="get" action="/networks/add">
    <p>Team Id:</p>
    <textarea id="team_id" name="team_id" required></textarea>
    <p>Ip Range:</p>
    <textarea id="ip_range" name="network_cidr" required></textarea>
    <br>
    <input type="submit" value="Add Network">
</form>

<br>
<br>

<h2>{{.Name}}</h2>
{{range .networks}}

<h3>Network: {{.NetworkCidr}} <a href="/networks/delete?network_cidr={{.NetworkCidr}}">Delete</a></h3>
<ul>
    {{range (index $.network_systems .NetworkCidr)}}
    <li>
        {{.Ip}} <a href="/systems/delete?system_ip={{.Ip}}">Delete</a>
        <ul>
            <li>
                Hostname: {{.Hostname}}
            </li>
            <li>
                Os Family: {{.OsFamily}}
            </li>
            <li>
                Os Version: {{.Os}}
            </li>
            <li>
                Open Ports:
                <ul>
                    {{range (index $.system_ports .Ip)}}
                    <li>
                        {{.Port.PortNumber}}/{{.Port.Protocol}}
                    </li>
                    {{end}}
                </ul>
            </li>
            
        </ul>
    </li>
    {{end}}
</ul>

{{end}}