<!-- <div class="col-12 col-sm-6 col-md-8 col-lg-9 col-xl-9 p-0 cs-bg-black"> -->
    <div class="p-0 cs-bg-black m-3 mx-4">
        <div class="container">
            <h3 class="col-12 cs-text-white fw-bold mb-4 w-100">Uploads</h3> 
            <div class="flex-row container w-100 p-0">
                <div class="col-sm-9">
                    <div class="col-12 cs-text-white p-3 cs-bg-gray">
                        <h4>Nmap XML</h4>
                        <form action="/api/nmap" method="post" enctype="multipart/form-data">
                            <input type="file" name="nmap">
                            <input type="submit" value="Upload">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- </div> -->
