<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<div class="p-0 cs-bg-black m-3 mx-4">
    <div class="container">
        <h3 class="col-12 cs-text-white fw-bold mb-4 w-100">{{.team.Name}}</h3> 
        <div class="col-12 g-0">
            {{range .networks}}
            <div class="pb-3">
            <div class="accordion border-0 accordion-borderless">
                <div id="accordion-item-{{.NetworkID}}" class="accordion-item border-0 pt-2 cs-bg-gray cs-text-gray">
                    <h2 class="accordion-header d-flex border border-0 rounded m-0 cs-bg-gray pb-2" id="accordion-heading-{{.NetworkID}}"> 
                        <button id="accordion-button-{{.NetworkID}}" class="cs-bg-gray cs-bg-light-gray-on-hover HEADER collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordion{{.NetworkID}}" aria-expanded="true" aria-controls="accordion{{.NetworkID}}" style="padding: 1rem; border: none; width: 96%; text-align: left;">
                            <div class="d-flex w-100">
                                <div class="d-block w-100">
                                    <span class="d-block cs-text-black" style="font-size: 1rem;">
                                        Network: {{ .NetworkCidr }}
                                    </span>
                                    <span class="cs-text-black d-block opacity-50 w-100" style="font-size: 14px; padding-top: 2px;">
                                        {{if index $.network_last_scan .NetworkCidr}}
                                            Last Scan: {{index $.network_last_scan .NetworkCidr | formatTime}}
                                        {{else}}
                                            Not Scanned
                                        {{end}}
                                    </span>
                                </div>
                            </div>
                        </button>                                             
                        <div id="copy-icon-{{.NetworkID}}" class="d-flex" style="cursor: pointer; text-align: right; align-items: center; padding-right: 1rem;">
                            <img type="button" class="cs-bg-light-gray-on-hover" src="/static/copyIcon.png" style="width: 35px; height: 35px;" data-bs-toggle="tooltip" data-bs-trigger="manual" data-bs-delay='{"show":200,"hide":150}' data-bs-placement="left" title="All IPs copied!" onclick="copyIpsString(this)">
                        </div>
                    </h2>                    
                    <div id="accordion{{.NetworkID}}" class="accordion-collapse collapse show" aria-labelledby="accordion{{.NetworkID}}">
                        <div class="accordion-body p-0 cs-bg-dark-gray py-2">
                            <div class="container">
                                <div class="grid-container">
                                    {{range $index, $element := (index $.network_systems .NetworkCidr)}}
                                    <div type="button" class="grid-item btn p-0 m-0" data-bs-toggle="modal" data-bs-target="#modal{{$index}}">
                                        <div class="cs-bg-light-gray-on-hover cs-bg-gray d-flex flex-column justify-content-between pt-2 pb-2 h-100">
                                        <div class="container d-flex align-items-center justify-content-center">
                                            <div class="text-center">
                                                {{if .Hostname}}
                                                    <h6 class="cs-text-black m-0">
                                                        {{.Hostname}}
                                                    </h6>
                                                    <h6 class="cs-text-black m-0 vertical-center">{{.Ip}}</h6>
                                                {{else}}
                                                    <h6 class="cs-text-black m-0 vertical-center py-2">{{.Ip}}</h6>
                                                {{end}}
                                            </div>
                                            </div>
                                        <div class="inline d-flex justify-content-center align-items-center">
                                            {{if eq .OsFamily "Linux"}}
                                            <img width="100" height="100" src="/static/linux.png" alt="Linux Image">
                                            {{else if eq .OsFamily "Windows"}}
                                            <img width="100" height="100" src="/static/windows.png" alt="Windows Image">
                                            {{else}}
                                            <img width="100" height="100" src="/static/unknown.png" class="align-self-center" style="transform: scale(0.80);" alt="Unknown OS Image">
                                            {{end}}
                                        </div>
                                        </div>
                                    </div>
                                    {{end}}

                                    <!-- MODAL -->
                                    {{range $index, $element := (index $.network_systems .NetworkCidr)}}
                                    <div class="modal" id="modal{{$index}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-lg p-0" role="document">
                                            <!-- py-3 px-4 -->
                                            <div class="modal-content cs-bg-gray">
                                                <div class="modal-header border-0 cs-bg-dark-gray">
                                                    {{if .Hostname}}
                                                    <div class="block">
                                                        <button type="button" class="btn cs-bg-transparent border-0 p-0 cs-text-white" onclick="copyToClipboard(this, '{{.Ip}}')" data-bs-toggle="tooltip" data-bs-trigger="manual" data-bs-delay='{"show":200,"hide":150}' data-bs-placement="right" title="Copied!"><h5 class="m-0 me-1 fw-bold cs-text-white-on-hover">{{.Ip}}</h5></button>
                                                    </div>
                                                    <div class="block">
                                                        <button type="button" class="btn cs-bg-transparent border-0 p-0 cs-text-white" onclick="copyToClipboard(this, '{{.Hostname}}')" data-bs-toggle="tooltip" data-bs-trigger="manual" data-bs-delay='{"show":200,"hide":150}' data-bs-placement="right" title="Copied!"><h6 class="m-0 me-1 cs-text-white-on-hover">{{.Hostname}}</h6></button>
                                                    </div>

                                                    <!-- <h5 class="modal-title cs-system-title fw-bold" onclick="copyToClipboard('{{.Hostname}}')">
                                                        {{.Hostname }} 
                                                    </h5> -->
                                                    {{else}}
                                                    <div>
                                                        <button type="button" class="btn cs-bg-transparent border-0 p-0 cs-text-white" onclick="copyToClipboard(this, '{{.Ip}}')" data-bs-toggle="tooltip" data-bs-trigger="manual" data-bs-delay='{"show":200,"hide":150}' data-bs-placement="right" title="Copied!"><h5 class="m-0 me-1 cs-text-white-on-hover">{{.Ip}}</h5></button>
                                                    </div>
                                                    {{end}}
                                                    <!-- <p class="cs-text-white mb-0">Last Scan: {{.LatestScan | formatTime}}</p> -->
                                                </div>
                                                <div class="modal-body cs-bg-gray rounded-3 py-0 pb-3">
                                                    <div class="py-3 border-0">
                                                        <table class="table w-100 table-striped">
                                                            <thead class="cs-text-gray">
                                                              <tr>
                                                                <th scope="col" class="cs-text-white cs-bg-gray border-0">Port</th>
                                                                <th scope="col" class="cs-text-white cs-bg-gray border-0">Name</th>
                                                                <th scope="col" class="cs-text-white cs-bg-gray border-0">Version</th>
                                                                <th scope="col" class="cs-text-white cs-bg-gray border-0">Product</th>
                                                                <!-- <th scope="col" class="cs-text-white cs-bg-gray border-0">Misc.</th> -->
                                                              </tr>
                                                            </thead>
                                                            <tbody>
                                                              {{range (index $.system_ports .Ip)}}
                                                                <tr class="border-0">
                                                                    <th scope="row" class="cs-text-white cs-bg-gray border-0">
                                                                        <p class="fw-normal mb-1 cs-text-white">{{.Port.PortNumber}}/{{.Port.Protocol}}</p>
                                                                    </th>
                                                                    <th class="cs-text-white cs-bg-gray border-0">
                                                                        <p class="fw-normal mb-1 cs-text-white">{{.Port.PortServiceName}}</p>
                                                                    </th>
                                                                    <th class="cs-text-white cs-bg-gray border-0">
                                                                        <p class="fw-normal mb-1 cs-text-white">{{.Port.PortServiceVersion}}</p>
                                                                    </th>
                                                                    <th class="cs-text-white cs-bg-gray border-0">
                                                                        <p class="fw-normal mb-1 cs-text-white">{{.Port.PortServiceProduct}}</p>
                                                                    </th>
                                                                    <!-- <th class="cs-text-white cs-bg-gray border-0">
                                                                        <p class="fw-normal mb-1 cs-text-white">something?</p>
                                                                    </th> -->
                                                                </th>
                                                                </tr> 
                                                            {{end}} 
                                                            </tbody>
                                                          </table>
                                            </div>
                                            <h5 class="cs-text-black">Activity</h5>
                                            <form method="POST" action="/comments/add">
                                                <div class="pb-2">
                                                    <input type="hidden" name="system_ip" value="{{.Ip}}">
                                                    <textarea class="w-100 cs-text-white p-2 rounded-2 cs-bg-brown border-0" name="comment" rows="1" placeholder="Write a comment..."></textarea>
                                                </div>
                                                <input type="submit" value="Save" class="btn rounded-1 cs-bg-red cs-text-white py-1" style="width: 60px; height: 35px;">
                                            </form>
                                            {{range (index $.system_comments .Ip)}}
                                            <div class="container-fluid p-0 mb-3 pt-3">
                                                <div class="row m-0 align-middle">
                                                    <p class="col-auto m-0 ps-0 pe-2 cs-text-white fw-bold pe-2">{{.Username}}</p>
                                                    <p class="col-4 m-0 ps-0 cs-text-dark-white d-flex flex-column justify-content-center" style="font-size: 12px;">{{.CreatedAt | formatTime}}</p>
                                                </div>
                                                <div class="row m-0">
                                                    <div class="cs-text-white p-2 ps-0 rounded-2 cs-bg-brown text-wrap" style="word-wrap: break-word; width: 100%;">
                                                        <p class="px-2 m-0 text-wrap">{{.Text}}</p>
                                                    </div>
                                                </div>
                                                <div class="row m-0">
                                                    <div class="p-0 d-inline-block" style="width: 10%;">
                                                        <a class="cs-comment-del cs-text-light-black" style="font-size: 12px;" href="/comments/delete?comment_id={{.Id}}">Delete</a>
                                                    </div>
                                                </div>
                                            </div>
                                                    {{end}}
                                                    <!-- <h6 class="cs-text-black m-0 vertical-center"></h6> -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {{end}}
                                </div>
                                </div>
                        </div>

                    </div>
                </div>
            </div>
            </div>
            {{end}}
        </div>
    </div>
</div>

<script>
    // Initializing Bootstrap's tooltips
    // Used for "Copied!" pop-up
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
      return new bootstrap.Tooltip(tooltipTriggerEl)
    })
</script>

<script> 
function copyIpsString(button)
{
    var ipsString = "";

    {{range .networks }}
        {{range $index, $element := (index $.network_systems .NetworkCidr)}}
            ipsString += "{{ .Ip }}\n";
        {{ end }}
    {{ end }}

    // Now 'ipsString' contains all the IP addresses separated by newline characters
    console.log(ipsString);
    copyToClipboard(button, ipsString);
}
</script>

<script>
    // Get all elements whose IDs start with "accordion-button-"
    const buttons = document.querySelectorAll('[id^="accordion-button-"]');

    // Loop through each button
    buttons.forEach(function(button) {
        // Extract the index from the button ID
        const index = button.id.split('-').pop();
        console.log(index);

        // Construct the IDs of the corresponding heading and accordion item elements
        const headingId = 'accordion-heading-' + index;
        console.log(headingId);
        const accordionItemId = 'accordion-item-' + index;
        console.log(accordionItemId);

        // Get the corresponding heading and accordion item elements
        const heading = document.getElementById(headingId);
        const accordionItem = document.getElementById(accordionItemId);

        // Add mouseover event listener to the button
        button.addEventListener('mouseover', function() {
            if (heading && accordionItem) {
                heading.classList.remove('cs-bg-gray'); // Remove cs-bg-gray class
                heading.style.backgroundColor = '#adadad';

                accordionItem.classList.remove('cs-bg-gray');
                accordionItem.style.backgroundColor = '#adadad';
            }
        });

        // Add mouseout event listener to the button
        button.addEventListener('mouseout', function() {
            if (heading && accordionItem) {
                heading.classList.add('cs-bg-gray'); // Add cs-bg-gray class back
                heading.style.backgroundColor = ''; // Reset to default background color

                accordionItem.classList.add('cs-bg-gray');
                accordionItem.style.backgroundColor = '';
            }
        });
    });
</script>

<!-- <script>
    const button = document.getElementById('accordion-button-1');
    const heading = document.getElementById('accordion-heading-1');

    const accordionItem = document.getElementById('accordion-item-1');
    button.addEventListener('mouseover', function() {
        var button = document.getElement
        heading.classList.remove('cs-bg-gray'); // Remove cs-bg-gray class
        heading.style.backgroundColor = '#adadad';

        accordionItem.classList.remove('cs-bg-gray');
        accordionItem.style.backgroundColor = '#adadad';
    });

    button.addEventListener('mouseout', function() {
        heading.classList.add('cs-bg-gray'); // Add cs-bg-gray class back
        heading.style.backgroundColor = ''; // Reset to default background color

        accordionItem.classList.add('cs-bg-gray');
        accordionItem.style.backgroundColor = '';
    });
</script> -->


<script>
document.getElementById('commentForm').addEventListener('submit', function(event) {
    var formData = new FormData(this);

    fetch('/comments/add', {
        method: 'POST',
        body: formData,
    })
    .then(response => response.json())
    .then(data => {
        // Update the comments list with the new comment
        var commentsList = document.getElementById('commentsList');
        var newCommentElement = document.createElement('li');
        newCommentElement.textContent = data.createdAt + '/' + data.username + '/' + data.text;
        commentsList.appendChild(newCommentElement);

        // Clear the textarea
        document.querySelector('textarea[name="comment"]').value = '';
    })
    .catch(error => {
        console.error('Error:', error);
    });
});

</script>

