<div class="p-0 cs-bg-black m-3 mx-4">
    <div class="container">
        <h3 class="col-12 cs-text-white fw-bold mb-4 w-100">Profile</h3> 
        <div class="flex-row container w-100 p-0">
            <div class="col-12 cs-text-white p-3 cs-bg-gray">
                <p>
                    You are logged in as <b>{{.username}}</b>
                </p>
                <h5>
                    <strong>API Authorization Header</strong>
                </h5>
                <p>
                    Authorization: <span style="word-break: break-all;">{{.authorization}}</span>
                </p>
            </div>
        </div>
    </div>
</div>
