html, body
    {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
    }
    
    .cs-bg-white {
        background-color: #faf4dd !important;
    }
    .cs-bg-black {
        background-color: #1d1d1d !important;
    }
    .cs-text-black {
        color: #1d1d1d !important;
    }
    .cs-bg-gray {
        background-color: #929190 !important;
    }
    .cs-bg-brown {
        background-color: #403c3c !important;
    }
    .cs-text-white {
        color: #faf4dd !important;
    }
    .cs-text-gray {
        color: #929190 !important;
    }
    .cs-button-red {
        background-color: #f26270 !important;
    }
    .cs-button-active {
        background-color: #403c3c !important;
        color: #faf4dd !important;
    }
    

    /* Bootstrap override */
.accordion {
    --bs-accordion-btn-bg: #929190;
    --bs-accordion-active-bg: #929190;
    --bs-accordion-active-color: #1d1d1d;
    --bs-accordion-btn-focus-box-shadow: none;
    --bs-accordion-bg:#929190; 
    --bs-accordion-border-width: 0;
}

.btn {
    --bs-btn-hover-color: #403c3c !important;
    --bs-btn-hover-bg:#bdbdbc !important; 
}

.link {
    --bs-link-hover-color: #1d1d1d;
    --bs-link-hover-rgb: (29,29,29);
}
