html, body
{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.cs-bg-transparent {
    background-color: transparent !important;
} 
.cs-bg-transparent:hover {
    background-color: transparent !important;
}

/*  make one for on click too */
.cs-bg-white {
    background-color: #faf4dd !important;
}
.cs-bg-black {
    background-color: #1d1d1d !important;
}
.cs-text-black {
    color: #1d1d1d !important;
}
.cs-text-light-black {
    color: #3b3939 !important;
}
.cs-text-dark-white {
    color: #e0ddce !important;
}
.cs-bg-red {
    background-color: #f26270 !important; 
}
.cs-bg-gray {
    background-color: #929190 !important;
}
.cs-bg-dark-gray {
    background-color: #757575 !important;
}
.cs-bg-brown {
    background-color: #403c3c !important;
}
.cs-bg-light-gray-on-hover:hover {
    background-color: #adadad !important;
}
.cs-text-white-on-hover:hover {
    color: #faf4dd !important;
}
.cs-bg-brown-on-hover:hover {
    background-color: #403c3c !important;
}
.cs-text-white {
    color: #faf4dd !important;
}
.cs-text-gray {
    color: #929190 !important;
}
.cs-text-dark-gray {
    color: #757575 !important;
}
.cs-text-light-gray {
    color: #cfcecc !important;
}
.cs-text-white-active:active {
    color: #faf4dd !important;
}
.cs-button-red {
    background-color: #f26270 !important;
}
.cs-button-active {
    background-color: #403c3c !important;
    color: #faf4dd !important;
}
#accordion-button:hover ~ #heading {
    background-color: #929190 !;
} */

#accordion-button:hover ~ #accordion-item {
    background-color: #adadad !important;
}

.btn .dropdown-toggle img {
    object-fit: contain !important;
}

.modal-header {
    display: block !important;
}
/* .accordion-header .d-flex img.btn {
    visibility: visible !important;
} */
.accordion-button:hover {
    z-index: 0 !important;
}

.cs-system-title {
    color: #1d1d1d !important;
}
.cs-system-title:hover {
    color: #757575 !important; 
    cursor: pointer !important;
}

.vertical-center {
    margin-top: auto !important;
    margin-bottom: auto !important;
}

.grid-container {
    display: grid !important;
    grid-template-columns: repeat(6, 1fr) !important; /* Six equal columns in each row */
    gap: 20px !important; /* Adjust the gap between grid items as needed */
    grid-auto-rows: 1fr !important;
}

.grid-item {
    flex: 1 !important;
}

.cs-copy-ips-string {
    --bs-tooltip-padding-x: 50px !important;
}


/* BOOTSTRAP OVERRIDE */
:root {
.tooltip {
    --bs-tooltip-color: #faf4dd !important;
    --bs-tooltip-bg: #aeadad !important;
    --bs-tooltip-padding-x: 10px !important;
    --bs-tooltip-padding-y: 2px !important;
    --bs-tooltip-opacity: 0.9 !important;
}

.btn {
    --bs-btn-hover-bg: transparent !important; 
    --bs-btn-hover-color: #faf4dd !important;
    --bs-btn-active-color: #faf4dd !important;
    --bs-btn-active-border-color: transparent !important;
}

.link {
    --bs-link-hover-color: #1d1d1d;
    --bs-link-hover-rgb: (29,29,29);
}

.accordion {
    --bs-accordion-btn-bg: #929190;
    --bs-accordion-active-bg: #929190;
    --bs-accordion-active-color: #1d1d1d;
    --bs-accordion-btn-focus-box-shadow: none;
    --bs-accordion-bg:#929190; 
    --bs-accordion-border-width: 0;
}

}