<div class="p-0 cs-bg-black m-3 mx-4">
    <h3 class="col-12 cs-text-white fw-bold mb-4 w-100">Loot</h3>
    <!-- Top Full-Width Container with similar background style -->
    <div class="container">
        <div class="d-flex flex-column cs-text-white p-3 cs-bg-gray">
            <div class="row">
                <div class="col-md-10">
                    <div class="mb-10">
                        <a href="/uploads">
                            <button class="btn btn-primary mb-3 me-3">Upload Loot</button> <!-- Added mb-3 for bottom margin -->
                        </a>
                        <div class="d-inline-block me-3">Tags:</div>
                        <div class="d-inline-block">
                            {{range .loot_tags}}
                                {{if and $.selected_tag (eq $.selected_tag .)}}
                                    <!-- If the current tag is the selected tag -->
                                    <span class="badge bg-primary me-3 mb-3 clickable-badge" onclick="handleTagClick('{{.}}')">{{.}}</span>
                                {{else}}
                                    <!-- Regular styling for non-selected tags -->
                                    <span class="badge bg-secondary me-3 mb-3 clickable-badge" onclick="handleTagClick('{{.}}')">{{.}}</span>
                                {{end}}
                            {{end}}
                        </div>
                        
                        <!-- Other buttons or content can go here -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    <br>
    
    
    <!-- Main Containers for Sidebar and Content -->
    <div class="container">
        <div class="row">
            <!-- Sidebar Section -->
            <div class="col-md-3">
                <div class="d-flex flex-column cs-text-white p-3 cs-bg-gray">
                    <a href="/loot/" class="mb-2">
                        All Teams
                    </a>
                    {{range .looted_teams}}
                    <a href="/loot/teams/{{.Id}}" class="mb-2">
                        {{.Name}}
                    </a>
                    <ul>
                        {{range (index $.team_looted_systems .Id)}}
                            <li>
                                <a href="/loot/systems/{{.}}" class="mb-2">
                                    {{.}}
                                </a>
                            </li>
                        {{end}}
                    </ul>
                    {{end}}
                </div>
            </div>

            <!-- Main Content Section -->
            <div class="col-md-9">
                
                <div class="container w-100 p-0">
                    <div class="cs-text-white p-3 cs-bg-gray mb-3">
                        <table class="table table-responsive table-striped">
                            <thead>
                                <tr>
                                    <th onclick="handleSortClick('name')">File Name</th>
                                    <th onclick="handleSortClick('tag')">Tag</th>
                                    <th onclick="handleSortClick('system_id')">System</th>
                                    <th onclick="handleSortClick('uploader')">Uploader</th>
                                    <th onclick="handleSortClick('uploaded_at')">Timestamp</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{range .loot_items}}
                                <tr>
                                    <td>
                                        <a href="/loot/{{.Id}}">
                                            {{.Name}}

                                            <a href="/loot/delete?loot_id={{.Id}}">
                                                X
                                            </a>
                                        </a>
                                    </td>
                                    <td>{{.Tag}}</td>
                                    <td>{{.System.Ip}}</td>
                                    <td>{{.Uploader}}</td>
                                    <td>{{.UploadedAt | formatTime}}</td>
                                </tr>
                                {{end}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function handleTagClick(selectedTag) {
        var currentUrl = new URL(window.location.href);
        var searchParams = currentUrl.searchParams;

        // Check if 'loot_tag' is already in the URL
        if (searchParams.has('loot_tag')) {
            if (searchParams.get('loot_tag') === selectedTag) {
                // If the clicked tag is the same as in the URL, remove the parameter
                searchParams.delete('loot_tag');
            } else {
                // If different, replace its value
                searchParams.set('loot_tag', selectedTag);
            }
        } else {
            // If 'loot_tag' is not in the URL, add it
            searchParams.set('loot_tag', selectedTag);
        }

        // Update the URL
        window.location.href = currentUrl.toString();
    }

    function handleSortClick(sortField) {
        var currentUrl = new URL(window.location.href);
        var searchParams = currentUrl.searchParams;

        // Check the current state of sorting
        var currentSortField = searchParams.get('sort_by');
        var currentOrder = searchParams.get('order_by') || 'asc';

        if (currentSortField === sortField) {
            // If already sorted by this field, toggle the order or clear the sorting
            if (currentOrder === 'asc') {
                searchParams.set('order_by', 'desc');
            } else {
                // Remove sorting parameters if the order is already 'desc'
                searchParams.delete('sort_by');
                searchParams.delete('order_by');
            }
        } else {
            // Set new sorting field and default order
            searchParams.set('sort_by', sortField);
            searchParams.set('order_by', 'asc');
        }

        // Update the URL
        window.location.href = currentUrl.toString();
    }
</script>